#logo1{
    width:200px;
    height:150px;
    float:left;
    padding-right: 20px;
}

#menu1{
    float:left;
}

#logo2{
    width: 230px;
    height:70px;
     float:right;
    
}

#flag{
    width: 400px;
    height:230px;
     float:right;
    
}

#text{
    width: 230px;
    height:170px;
     float:left;
     padding-right: 120px;

    
}

#text2{
    width: 550px;
    height:200px;
    float:right;
    padding-right: 230px;
    
}

#footer{
    width: 900px;
    height:350px;
    float:right;
    
    
}





#aboutext{
   float:left;
}

#bigben{
    width: 300px;
    height:300px;
     float:right;
    
}

#about2{
    width: 300px;
    height:250px;
    float:right;
    padding-right: 230px;
    
}

#footer2{
    width: 900px;
    height:350px;
    float:right;
    
    
}





#contact{
    width: 700px;
    height: 500px;
    padding-left: 90px;
}

#footer{
    width: 900px;
    height:350px;
    float:right;
    
}